#can be 'development' or 'production'
NODE_ENV=development

#your app port
PORT=3000

#your mongo connection options
MONGODB_URI=mongodb://127.0.0.1:27017/
MONGODB_DB_MAIN=example_db

SECRET=e42d8dd28adf34fc489044d5aa21e5166f22a6ef
